<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/favicon-icon.png" type="image/png">
    <title>Video Poster Maker</title>
    <link rel="stylesheet" type="text/css" href="/styles/video-grabber.css">
</head>
<body class="video-grabber-body">
  <div id="topbar">
    <input type="text" id="urlForVideo" name="Video URL" placeholder="Paste your URL here and press enter.." autofocus>
      <button id="snapbutton" class="dissabled-buttons">Snap Photo</button>
      <button id="downloadbtn" class="dissabled-buttons">Download Button</button>
  </div>
  <div id="content">
      <video id="video-component" crossorigin="anonymous" controls="false">
          <!-- <source src="https://videos.gskstatic.com/pharma/GSKpro/Italy/1013146370-preview.mp4" type="video/mp4"></source> -->
          <source src="" type="video/mp4"></source>
        </video>
        <canvas id="canvas"></canvas>
      <!-- <a href="" download id="downloadImageHref">
          <img crossorigin="anonymous" src="../img/image-placeholder.jpg" id="mirror" class="canvas__mirror" />
      </a> -->
  </div>
<script type="text/javascript" src="/js/video-grabber.js"></script>
<script type="text/javascript" src="/js/addons.js"></script>
</body>
</html>