<html>
<head>
    <meta charset="UTF-8">
  <link rel="icon" href="/img/favicon-icon.png" type="image/png">
    <title>View Image Info</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body class="popup-image-html">
    <table>
        <tbody>
            <tr>
                <td id="loc"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="dims"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="ftype"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="fsize"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="altTitleStr"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="prev"></td>
                <td class="image-preview"><img src="/img/loading-s.gif" /></td>
            </tr>
        </tbody>
    </table>
</body>
<script type="text/javascript" src="/js/logic/imageData.js"></script>
<!-- <script type="text/javascript" src="/js/addons.js"></script> -->

</html>